venv*
scripts
#tests
repomix*
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.log
**/.DS_Store
**/.env
**/.venv
**/env/
**/venv/
**/instance/
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/htmlcov/
**/.vscode/
data/
